<div class="row">
<div class="form-group">
  <div class="col-xs-2">
    <select type="text" #newprojectionnist placeholder="Projectionniste" class="form-control">
      <option>thomas</option>
      <option>gaëtan</option>
      <option>jonhatan</option>
      <option>marc</option>
      <option>antoine</option>
    </select>
  </div>

  <div class="col-xs-2">
  <input type="text" #newtitle placeholder="Film" class="form-control" />
     </div>
       <div class="col-xs-2">
         <select type="text" #newdate placeholder="Horaire" class="form-control" >
           <option>19:45</option>
           <option>20:00</option>
           <option>20:30</option>
         </select>
     </div>

  <div class="col-xs-2">
    <select type="text" #newplace placeholder="Salle" class="form-control">
      <option>salle 1</option>
    <option>salle 2</option>
    <option>salle 3</option>
      </select>
  </div>


     <div class="col-xs-2">
  <button (click)="addMovie(newtitle.value, newdate.value, newplace.value, newprojectionnist.value)" class="btn btn-primary btn-block">Add</button>
     </div>


       <div class="col-xs-2">
  <button (click)="deleteEverything()"  class="btn btn-danger btn-block">Delete</button>
       </div>
</div>
  </div>


    <div class="row">
      <div class="col-xs-12">
        <h2> PLANNING DU JOUR </h2>

        </div>
      <div class="form-group">
    <div *ngFor = "let item of movie | async "  >
      <div class="col-xs-2">
        <select type="text" #updateprojectionnist [value]="item.projectionnist" class="form-control" >
          <option>thomas</option>
          <option>gaëtan</option>
          <option>jonhatan</option>
          <option>marc</option>
          <option>antoine</option>
        </select>
      </div>
      <div class="col-xs-2">
     <input type="text" #updatetitle [value]="item.title" class="form-control" />
      </div>

      <div class="col-xs-2">
        <select type="text" #updatedate [value]="item.date" class="form-control" >
          <option>19:45</option>
          <option>20:00</option>
          <option>20:30</option>
        </select>
      </div>

      <div class="col-xs-2">
        <select type="text" #updateplace [value]="item.place" class="form-control" >
          <option>salle 1</option>
          <option>salle 2</option>
          <option>salle 3</option>
        </select>
      </div>



        <div class="col-xs-2">
    <button (click)="updateMovie(item.$key, updatetitle.value, updatedate.value, updateplace.value, updateprojectionnist.value)" class="form-control">Update</button>
        </div>
          <div class="col-xs-2">
<button (click)="deleteMovie(item.$key)" class="form-control">Delete</button>
          </div>
    </div>
      </div>
      </div>


